@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.py-12 {
    width: 100%;
}

.content {
    flex: 2;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
}

h3 {
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;

}

table th,
table td {
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


.chartjs-doughnut-chart .chartjs-center-text h2 {
    font-size: 50px;
    font-weight: bold;
    color: #36A2EB; /* You can customize the color here */
}

@media only screen and (max-width: 768px) {
    content {
        flex-direction: column;
    }

    .sidebar {
        order: 2;
        flex: none;
    }
}


.chart-container {
    position: relative;
}

.chart-label {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    /*color: #36A2EB;*/
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .chart-label {
        color: white;
    }
}

.collapsible {
    width: 100%;
    /*background-color: #fff;*/
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.collapsible-header {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid rgba(217, 240, 240, 1);
    cursor: pointer;
    background-color: rgba(217, 240, 240, 1);
}

.collapsible-body {
    padding: 10px;
}

.collapsible.active {
    /*border: 1px solid #007bff;*/
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 123, 255, 0.4);
}

.payment-info {
    margin: auto;
    text-align: center;
    width: 50%;
}

.payment-info img {
    max-width: 300px;
    display: initial;
}
